body {background-color: #86A789;}
    
    #titulo
{text-align: center;
    font-size: 50px;
color: #555843;}

    .texto{
        text-align: center;
        font-size: 25px;
        color: #555843;
    }