body {background-color: rgb(25, 19, 148);}

#imagem {width: 100%;}
 
    #titulo
{text-align: center;
    font-size: 100px;
color: black;}

#subtitulo
{ text-align: center;
font-size: 100px;}


    .texto{
        text-align: center;
        font-size: 100px;
        color: black;


    }